/* 修改container 最大宽度为1280px 设计稿为1280px */
@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #666;
}
a:hover {
    text-decoration: none;
}
/* header */
header {
    padding-left: 0 !important;
}
.logo {
    background-color: #3795DA;
}
.logo span {
    display: block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.logo img {
    display: block;
    /* logo不进行缩放 */
    /* width: 100%; */
    /* 最大宽度就是100% */
    max-width: 100%;
    margin: 0 auto;
}
/* 我们如果进入了超小屏幕下logo里面的图片就会隐藏起来 */
.nav {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}
.nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-style: 60px;
}
.nav a:hover {
    background-color: #fff;
    color: #333;
}
.nav a::before {
    vertical-align: middle;
    padding-right: 5px;
}
.news li {
    float: left;
    width: 25%;
    height: 128px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.news li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.news li:nth-child(1) {
    width: 50%;
    height: 266px;
}
.news li:nth-child(1) p {
    line-height: 41px;
    font-size: 18px;
    padding: 0 0 0 10px;
}
.news li a img {
    width: 100%;
    height: 100%;
}
.news li a p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 41px;
    padding: 5px 10px;
    background: rgba(0,0,0,.5);
    color: #fff;
    margin-bottom: 0;
    font-size: 12px;
}
.publish {
    border-top: 1px solid #ccc;
}
.publish .row {
    border-bottom: 1px solid #ccc;
}
.pic {
    margin-top: 10px;
}
.pic img {
    width: 100%;
}
.banner img {
    width: 100%;
}
.hot {
    display: block;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 0 20px 20px;
}
.hot span {
    border-radius: 0;
    margin-bottom: 20px;
}
.hot p {
    font-size: 12px;
}